<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamon.chatroom.mapper.RoomMapper">

    <resultMap id="BaseResultMap" type="com.yamon.chatroom.domain.Room">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="roomId" column="room_id" jdbcType="VARCHAR"/>
            <result property="sendId" column="send_id" jdbcType="VARCHAR"/>
            <result property="isRead" column="is_read" jdbcType="TINYINT"/>
            <result property="isDisplay" column="is_display" jdbcType="TINYINT"/>
            <result property="isExpire" column="is_expire" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,content,room_id,
        send_id,is_read,is_display,
        is_expire,create_time,expire_time
    </sql>
</mapper>
